.playlist {
    border: 0.1rem solid white;
    border-color: white;
    width: 30%;
    margin-top: 1.4rem;
    border-radius: 4rem;
}

.name {
    height: 4rem;
    background-color: black;
    border: 0;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.75rem;
    text-align: center;
}

.save {
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
}